In [ ]:
from tqdm import tqdm
import numpy as np
from requests import get
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from typing import List, Dict
from pprint import pprint as pp
import datetime
def meta_url(datasetID: str,flavor: str = 'json') -> Dict: 
    meta_url: str = f"http://www.neracoos.org/erddap/info/{datasetID}/index.{flavor}"
    return get(meta_url).json() 
def data_url(datasetID: str, flavor: str = 'json') -> Dict:
    data_url: str = f"http://www.neracoos.org/erddap/tabledap/{datasetID}.{flavor}"
    return get(data_url).json() 
GOM_IDS = ["A01", "B01", "C02"]
def make_df(set_name,from_url=True):
    set_name = data_url(set_name)
    response = set_name['table']
    #print(response['columnNames'])
    new_df = pd.DataFrame(response['rows'], columns = response['columnNames'])
    new_df['time'] = pd.to_datetime(new_df['time'])
    new_df = new_df.set_index('time')
    return new_df[new_df.columns[~new_df.columns.str.contains('_qc')]]

In [ ]:
import pickle
df = make_df('A01_optics_s_all')
print(1)
sal_df = make_df('A01_sbe16_disox_all')
print(1)
df.drop(['station','mooring_site_desc', 'longitude', 'latitude', 'depth'], axis=1,inplace=True)
sal_df.drop(['station','mooring_site_desc', 'longitude', 'latitude', 'depth'], axis=1,inplace=True)
# def fix_index(dff, col):
#     x = 0
#     dups = []
#     notna = []
#     new_col = []
#     new_df = pd.DataFrame(columns = dff.columns, index = list(set(dff.index)))
#     new_df = new_df.loc[new_df.index.sort_values()]
#     for i in new_df.index:
#         if dff[col].loc[i].index.name == 'time':
#             val = dff[col].loc[i].values[0]
#         else:
#             val = dff[col].loc[i].values
#         if not np.isnan(val).any():
#             notna.append(i)
#         new_col.append(val)
#     return new_col
def fix_index(dff):
    return dff.drop(dff.loc[dff.index.duplicated()].index)
x = list(set([i for i in sal_df.index if i in df.index]))
y = [i for i in sal_df.index if i in x]
new_df = new_df.loc[y]
last = [[i] for i in df.iloc[-1].values]
last = {k:v for k in df.columns for v in last}
last = pd.DataFrame(last,columns=df.columns, index=[pd.to_datetime('2022-03-23 09:00:00+0000')])
dff = df.drop(df.loc[df.index.duplicated()].index)
dff = pd.concat([fix_index(dff),last],axis=0,join='outer')
new_df[['turbidity','chlorophyll']]=dff.loc[[i for i in y if i in dff.index]].values
new_df[sal_df.columns] = sal_df
file = open("A01_new.pkl", "wb")
pickle.dump(new_df, file)

In [ ]:
bad_cols = ['station','mooring_site_desc', 'longitude', 'latitude', 'water_depth','time_created','time_modified','depth']

In [ ]:
int2time = {i:str(cup[i])[:16] for i in range(len(cup))}
time2int = {str(v)[:16]: k for k, v in int2time.items()}

In [ ]:
time2int

In [ ]:
l = make_df('E05_optics_all').drop(bad_cols,axis=1)
lmet = make_df('E05_met_all').drop(bad_cols,axis=1)
m = make_df('C05_optics_all').drop(bad_cols,axis=1)
mmet = make_df('C05_met_all').drop(bad_cols,axis=1)
cup = [i for i in m.index if i in l.index]
cup = [i for i in l.index if i in cup]
icup = [time2int[str(i)[:16]] for i in cup]
ldf = fix_df(l).join(fix_df(lmet))
mdf = fix_df(m).join(fix_df(mmet))
mdf = mdf.loc[[i for i in mdf.index if i in ldf.index]]
ldf = ldf.loc[[i for i in ldf.index if i in mdf.index]]

In [ ]:
ldf.loc[mdf.index]

In [ ]:
int2time[3594]

In [ ]:
file = open("dfs.pickle", "wb")
pickle.dump([ldf,mdf], file)

In [ ]:
ldf['index'] = [time2int[i] for i in ldf.index]

In [ ]:
[str(i) for i in cup]

In [ ]:
s = '2015-10-15 15:20:00+0000'
s[:16]

In [ ]:

def fix_df(df):
    df = df.loc[cup]
    df['index'] = [time2int[str(i)[:16]] for i in df.index]
    df = df.set_index('index')
    df = df.loc[icup].drop_duplicates(keep='first')
    return df

In [ ]:
lmet.loc[cup]

In [ ]:
cup = [i for i in m.index if i in l.index]

In [ ]:
mdf.join(mmet).loc[ldf.join(lmet).index]

In [ ]:
md

In [ ]:
dumb_cols = ['station','mooring_site_desc','offset_time','time_created','time_modified','longitude','latitude','depth']
make_df('CINAR_DSG_ME198_sbe37').drop(dumb_cols,axis=1)

In [ ]:
new_df.isna().sum()

In [ ]:
pd.concat([fix_index(dff),last],axis=0,join='outer').loc[last.index]

In [ ]:
df.columns

In [ ]:
last

In [ ]:
dff = df.copy()
['2022-03-23 09:00:00+0000']

In [ ]:
len(list(df.index.duplicated()[:-1]+[False, False]))

In [ ]:
len(dff.drop(dff.loc[dff.index.duplicated()[:-1]].index))

In [ ]:
dff.loc[dff.index.duplicated()]

In [ ]:
[i for i in sal_df.index if i not in df.index]

In [ ]:
dff = make_df('A01_optics_s_all')
dff.drop(['station','mooring_site_desc', 'longitude', 'latitude', 'depth'], axis=1,inplace=True)
col = dff.columns

In [ ]:
x = 0
dups = []
notna = []
new_col = []
new_df = pd.DataFrame(columns = dff.columns, index = list(set(dff.index)))
new_df = new_df.loc[new_df.index.sort_values()]
# for i in new_df.index:
#     if dff[col].loc[i].index.name == 'time':
#         val = dff[col].loc[i].values[0]
#     else:
#         val = dff[col].loc[i].values
#     if not np.isnan(val).any():
#         notna.append(i)
#     new_col.append(val)

In [ ]:
sal_names = ['dissolved_oxygen', 'oxygen_saturation',
       'percent_oxygen_saturation', 'conductivity', 'temperature', 'salinity',
       'sigma_t']
new_df = pd.DataFrame(columns = sal_df.columns, index = list(set(list(sal_df.index))))
new_df = new_df.loc[new_df.index.sort_values()]
new_df[sal_names] = sal_col
x = list(set([i for i in sal_df.index if i in df.index]))
y = [i for i in sal_df.index if i in x]
new_df = new_df.loc[y]
chlor_col = fix_index(df,['turbidity','chlorophyll'])
new_df[['turbidity','chlorophyll']]=chlor_col